.swiper-pagination-bullet {
  width: 3.4rem;
  height: 3.4rem;
  text-align: center;
  line-height: 3.4rem;
  font-size: 2rem;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  margin-left: 0.7rem;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #69a5a4;
}

.activeTitle {
  background-color: rgba(191, 83, 16, 0.536);
  transition: all 0.5s ease;
  border-radius: 2px;
  padding: 10px
}

#homePage {
  background-color: #69a5a4;
}

#homePage .title {
  color: white;
}

#projectCard {
  /* border: black solid 1px; */
  height: 80vh;
}

.title {
  color: #4682b4;
  transition: all 0.5s ease;
}

.about-text {
  border-radius: 10px; 
}

.iconLink {
  cursor: pointer;
}

.iconLink:hover {
  text-decoration: underline;
}

p {
  font-size: calc(10px + .5vw);
  color: black;
  font-weight: 550;
}
/* 
.column {
  border: 1px solid black;
} */

.columns.is-vcentered {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}


html {
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px;  
  background: transparent
  }
  ::-webkit-scrollbar-thumb {
  background: #FF0000;
  }

  #photo {
    max-width: 26vw;
    max-height: 26vh;
    border-radius: 50%;
  }


  .centercenter {
    display: grid;
    place-items: center;
  }

  .contactText {
    font-size: 3rem;
    color: black
    
  }

  .contactText:hover {
    cursor: pointer;
    color: rgba(191, 83, 16, 0.536)
  }